body {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100%;
	margin: 0;

	background-color: #DDD;

	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
}

html {
	height: 100%;
}

.container {
	width: 15rem;
	margin: 1rem;

	background-color: white;
	border-radius: 5px;
	padding: 2rem;
}

.container > :last-child {
	margin-bottom: 0;
}

.container > :first-child {
	margin-top: 0;
}

label {
	min-width: 3rem;
}

input {
	width: 100%;
	border-radius: 3px 0 0 3px;
	border: 1px #BBB solid;
	padding-left: 6px;
}

input:last-child {
	border-radius: 3px;
}

input.ok {
	border-color: #009F6B;
}

input.wrong {
	border-color: #C40233;
}

.unitlabel {
	border: 1px #BBB solid;
	border-left: none;
	border-radius: 0 3px 3px 0;
	padding: 0 0.5rem;
	background-color: #ebebeb;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-row {
	display: flex;
	margin: 0.6rem 0;
	height: 2rem;
}

.form-row > * {
	display: flex;
	align-items: center;
}

button {
  color: #fff;
  background-color: #0087bd;
  border: none;
  height: 2rem;
  width: 100%;
  border-radius: 2px;
	margin: 0.6rem 0;
}

button:hover {
	background-color: #0097bd;
}

h1 {
	font-size: 1.8rem;
	margin-bottom: 0.2rem;
}

#coordinates {
	color: green;
	border-radius: 2px;
	margin-top: 1rem;
}

.monospace {
	font-family: monospace;
	font-size: 0.8rem;
}
