<!--
Tämä on aamun pikkutunneilla kirjoitettua purkkaa, suokaa anteeksi lukijat.
-->

<!doctype html>
<html>
  <head>
    <title>
      GEO
    </title>

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="../static/main.js"></script>
    <link rel="stylesheet" href="../static/main.css">
  </head>
  <body>
    <div class="container">
      <h1>{{ title }}</h1>
      <p>Enintään <span id="max-requests"></span> tarkistusta <span id="time"></span> minuutissa.</p>
      <p>Jäljellä <span id="available-requests"></span>.</p><br/>
      <form id="form">
        {% for task, val in tasks.items() %}
        <div class="form-row">
          <label for="{{ task }}">{{ task }}</label>
          <input type="number" id="{{ task }}" name="{{ task }}" />
          {% if val.unit %}
          <span class="unitlabel">{{ val.unit }}</span>
          {% endif %}
        </div>
        {% endfor %}

				<div class="g-recaptcha" data-sitekey="{{ captcha_key }}"></div>

        <div class="button">
          <button type="submit" id="submit-button">Tarkista</input>
        </div>

        <div id="status">

        </div>
      </form>
    </div>
  </body>
</html>
